@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Rubik+Iso&display=swap');
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 :root {
   --index: calc(1vw + 1vh);
}
 body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-size: 16px;
 }
 .container-fluid {
    width: 100%;
    background-color: #2E4566;
 }
 .container {
    width: calc(var(--index)*55);
    margin: 0 auto;
 }
 .logo {
   height: calc(var(--index)*4);
 }
 .d-flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 header > .container {
   padding-top: calc(var(--index)*1.3);
   padding-bottom: calc(var(--index)*1.3);
 }
 header .container .menu a{
   font-size: 0.875em;
   text-decoration: none;
   color: #fff;
   margin-top: 0;
   margin-bottom: 0;
   margin-right: calc(var(--index)*2.3);
   margin-left: calc(var(--index)*0.3);
   position: relative;
 }
 header .container .menu a::before {
   content: '';
   position: absolute;
   bottom: -5px;
   left: 0;
   width: 100%;
   height: 2px;
   transition: 0.2s;
   background-color: #fff;
   transform: scaleX(0);
 }
 header .container .menu a:hover:before{
   width: 100%;
   transform: scaleX(1);
 }
header form div{
   justify-content: center;
   padding: 10px 20px;
   border: 1px solid #fff;
   border-radius: 50px;
}
header form div input[type='submit']{
   width: 20px;
   height: 20px;
   background: url("../images/search.png") no-repeat;
   background-size: cover;
   border: none;

}
header form div input[type='submit']:hover{
   cursor: pointer;
}
header form div input[type='text']{
   background: transparent;
   border: none;
   color: #fff;
   margin-right: 10px;
}
footer {
   background-color: #2E4566;
   padding-top: 50px;
   padding-bottom: 20px;
}
footer .container {
   align-items: flex-start;
}
footer .left {
   align-items: flex-start;
}
footer .left figure figcaption {
   color: #fff;
   font-size: 0.875em;
   margin-top: 20px;
   margin-left: 15px;
   max-width: 105px;
}
figure img {
   height: 12vh;
}
footer .left nav {
   margin-left: 100px;
}
footer .left nav a{
   display: block;
   font-size: 0.875em;
   color: #fff;
   margin-bottom: 20px;
   text-decoration: none;
   margin-left: 40px;
}
footer .left .work{
   display: block;
   font-size: 0.875em;
   color: #fff;
   margin-left: 100px;
}
footer .left .work p{
   margin-bottom: 20px;
}
footer .right .post p{
   max-width: 150px;
   color: #fff;
   margin-bottom: 40px;
   font-size: 0.875em;
}
footer .right .sociallinks p{
   color: #fff;
   font-size: 0.875em;
}
footer .right img{
   width: 33px;
   margin: 3px;
   margin-left: 0;
}
footer .right .tg{
   margin-right: 9px;
}
footer .copyrights {
   text-align: center;
   color: #bfbfbf;
   font-size: 0.750em;
   margin-top: 50px;
}

main {
    position: relative;
    background-color: #7597BE;
    max-height: 12000px;
    display: flex;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}
.zakaz-h1{
    margin-left: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.zakaz-h1 h1{
    color: #fff;
    border-left: 3px solid #fff;
    padding-left: 15px;
}
.blocks {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: calc(var(--index)*5);
    margin-top: calc(var(--index)*4);
    margin-left: 130px;
    
  }
  .blocks .block {
    position: relative;
    display: flex;
    margin-right: calc(var(--index)*-10.3);
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 380px;
    background: #2E4566;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.7s;
  }
  .blocks .block:hover{
    transform: translateY(-10px);
  }
  .blocks .block .content {
    padding: calc(var(--index)*1.5);
    text-align: center;
  }
  .blocks .block .content .icons-img{
    width: calc(var(--index)*2.5);
    background: transparent;
  }
  .blocks .block .content p{
    color: #fff;
    padding: 10px 0;
  }
  .blocks .block .content img {
    height: 65px;
    width: calc(var(--index)*3.5);
    border-radius: 30%;
    padding: 4px;
    background: #19314c;
  }
  .blocks .block .content h3{
    margin-top: calc(var(--index)*1);
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .form-container {
    margin: 0 auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: calc(var(--index)*2);
      margin-bottom: calc(var(--index)*2);
      margin-left: calc(var(--index)*20);
  }
  .form-container h1{
    border-left: 3px solid #fff;
    color: #fff;
    padding-left: 13px;
    margin-left: -70px;
  }
  .form-otziv{
    display: flex;
    position: relative;
    margin-left: calc(var(--index)*29);
    flex-direction: column;
    background: #fff;
    width: 800px;
    height: 410px;
    margin-left: 360px;
    border-radius: 20px;
    margin-bottom: 50px;
  }
  .form-field input {
    margin-left: 10px;
    height: 45px;
    width: 780px;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #ddebff;
    border-radius: 5px;
    padding-left: 25px;
    color: #2E4566;
  }
  .form-field textarea{
    margin-left: 10px;
    height: 140px;
    width: 780px;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #ddebff;
    border-radius: 5px;
    padding-left: 25px;
    color: #2E4566;
    resize: none;
  }
  .form-field input:focus{
    outline: none;
    border: 2px solid #b1d0ff;
  }
  .form-field textarea:focus{
    outline: none;
    border: 2px solid #b1d0ff;
  }
  .form-field {
    padding-top: 5px;
  }
  .button {
    font-size: 14px;
    display: block;
    height: 40px;
    width: 50%;
    background: #2E4566;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 35px;
    border: none;
    margin-left: 200px;
    margin-top: 10px;
  }
  .button:hover{
    background-color: #2a3e5c;
    cursor: pointer;
  }
  select{
    width: 780px;
    margin-left: 10px;
    height: 30px;
    border: 2px solid #ddebff;
    border-radius: 5px;
  }
  option{
    color: #000;
  }
  form{
    margin-left: 10px;
    margin-top: 5px;
  }
